<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>works</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="header">
        <a href="/home">Home</a>
        <a href="/works">Works</a>
        <a href="/photo-gallery">Gallery</a>
        <a href="/about">About</a>
    </div>
    <h1>Welcome to Van Gogh Gallery</h1>
    <div class="gallery">
        <div>
            <img src="/images/cafe.jpeg" alt="cafe">
            <img src="/images/irises.jpeg" alt="irises">
            <img src="/images/self-portrait.jpeg" alt="self-portrait">
        </div>
        <div>
            <img src="/images/starry-night.jpeg" alt="starry-night">
            <img src="/images/sunflowers.jpeg" alt="sunflowers">
        </div>
    </div>
  </body>
</html>